* {
  margin: 0;
  padding: 0px;
  font-family: "Indie Flower", cursive;
  /* background-color: rgba(255, 228, 196, 0.55); */
}
body {
  max-width: 500px;
  margin: auto;
}
.cover {
  border: #6c7a89 1px solid;
}

.responsive-table {
  margin-top: 40px;
  width: 100%;
  list-style: none;
  li {
    border-radius: 3px;
    padding: 10px 10px;
    margin-bottom: 25px;

    /* display: flex; */
  }

  .table-row {
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  }
  .col:nth-child(odd) {
    color: rgb(0, 55, 158);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
  }

  @media all and (max-width: 767px) {
    li {
      display: flex;
      flex-direction: column;
    }
    .col {
      text-align: left;
      flex-basis: 100%;
    }
    .col {
      display: flex;
      padding: 10px 0;
      &:before {
        color: #6c7a89;
        content: attr(data-label);
        text-align: left;
      }
    }
  }
}

.loading {
  font-size: 35px;
}
.safe {
  font-size: 25px;
}
.number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: darkgreen;
  font-size: 35px;
  font-weight: bold;
}
.gradient-text {
  /* Set the text color to transparent */
  color: transparent;

  /* Apply the background gradient */
  background: linear-gradient(to right, blue, lightblue);

  /* Use background-clip to apply the gradient only to the text */
  -webkit-background-clip: text;
  background-clip: text;
}
.table-header {
  color: transparent;
  text-align: center;
  background: linear-gradient(to right, black, red, pink, blue, green, white);
  -webkit-background-clip: text;
  background-clip: text;
}

.styled-border {
  --b: 0.5em; /* border width */
  --c: 3em; /* corner size */
  --r: 2em; /* corner rounding */
  position: relative;
  margin: 1em auto;
  border: solid var(--b) transparent;
  padding: 1em;
  max-width: 23em;
  font: 1.25em ubuntu, sans-serif;

  &::before {
    position: absolute;
    z-index: -1;
    inset: calc(-1 * var(--b));
    border: inherit;
    border-radius: var(--r);
    background: linear-gradient(orange, deeppink, purple) border-box;
    --corner: conic-gradient(from -90deg at var(--c) var(--c), red 25%, #0000 0)
      0 0 / calc(100% - var(--c)) calc(100% - var(--c)) border-box;
    --inner: conic-gradient(red 0 0) padding-box;
    -webkit-mask: var(--corner), var(--inner);
    /* -webkit-mask-composite: source-out; */
    mask: var(--corner) subtract, var(--inner);
    content: "";
  }
}
.loading-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Adjust as needed */
}
.count-down {
  position: relative;
  /* background-color: rgba(255, 228, 196, 0.55); */
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  width: 100%;
}

.loading-container {
  position: relative;
}
