.blur-layer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  border-radius: 5px;
}

.blur-layer p {
  color: red;
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
}

.blur-layer .reveal-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #ffffff;
  /* border: 1px solid #000000; */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.image-id {
  width: 100%;
  /* height: 100px; */
  display: block;
  margin: 0 auto;
}

.image-container {
  position: relative;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center;
  flex-direction: column;
}

.image-id.blurred {
  filter: blur(10px); /* Adjust the blur strength as needed */
}

.code-update-time {
  color: black;
}
.sensitive-content {
  color: red;
}
.close {
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid red;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  border-radius: 5px;
}

.confirm-button {
  color: white;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: green;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button {
  color: white;
  font-size: 20px;
  margin-top: 10px;
  padding: 5px 20px;
  background-color: red;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.confirm-group {
  display: flex;
  justify-content: center;
  align-self: center;
}
.warning-content {
  color: black;
  text-transform: none;
}
