<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Process</title>
    <link rel="stylesheet" href="../static/process.css" />
  </head>
  <body>
    <h1 style="text-transform: uppercase">Image Processing Page</h1>
    <form
      action="/process-image"
      method="post"
      enctype="multipart/form-data"
      onsubmit="return validateForm()"
    >
      <hr />
      <label for="picture">Select picture</label>
      <input
        type="file"
        id="picture"
        name="picture"
        accept="image/*"
        multiple
      />
      <hr />
      <label for="image_link">QR</label>
      <textarea
        class="qr"
        type="text"
        id="image_link"
        name="image_link"
        rows="5"
      ></textarea>
      <hr />
      <div class="buttons">
        <button class="btn" type="submit">Run</button>
        <a href="/" class="btn">home</a>
      </div>
    </form>
    <script>
      function validateForm() {
        var files = document.getElementById("picture").files;
        if (files.length < 1) {
          alert("Please select at least one image file.");
          return false;
        }
        if (files.length > 8) {
          alert("You can only select up to 8 image files.");
          return false;
        }
        return true;
      }
    </script>
  </body>
</html>
