<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Process</title>
    <link rel="stylesheet" href="../static/process.css" />
  </head>
  <body>
    <h1 style="text-transform: uppercase">Image Processing Page</h1>
    <form
      action="/process-image"
      method="post"
      enctype="multipart/form-data"
      onsubmit="return validateForm()"
    >
      <hr />
      <div>
        <label for="picture">Select picture</label>
        <div class="file-container">
          <input
            type="file"
            id="picture"
            name="picture"
            accept="image/*"
            multiple
          />
          <!-- Add a button to clear the selected file -->
          <button
            class="clear-file"
            type="button"
            onclick="clearFile('picture')"
          >
            &#10060;
          </button>
        </div>
        <span class="error-msg" id="error-mul-image"></span>
      </div>
      <div class="section"></div>
      <hr />
      <div>
        <label for="image_link">QR or Image insert</label>
        <textarea
          class="qr"
          type="text"
          id="image_link"
          name="image_link"
          placeholder="Enter QR or upload an image"
          rows="5"
        ></textarea>
        <br />
        <div class="file-container">
          <input
            type="file"
            id="image_file"
            name="image_file"
            accept="image/*"
          />
          <!-- Add a button to clear the selected file -->
          <button
            class="clear-file"
            type="button"
            onclick="clearFile('image_file')"
          >
            &#10060;
          </button>
        </div>
        <span class="error-msg" id="error-qr-img"></span>
      </div>
      <div class="section"></div>
      <hr />
      <div class="buttons">
        <button class="btn" type="submit">Run</button>
        <a href="/" class="btn">Home</a>
      </div>
    </form>
    <script>
      // Function to clear the selected file
      function clearFile(elmId) {
        // Get the file input element
        var fileInput = document.getElementById(elmId);
        // Reset the value of the file input
        fileInput.value = "";
      }

      function validateForm() {
        var files = document.getElementById("picture").files;
        var errorMsg = document.getElementById("error-mul-image");
        if (files.length < 1) {
          errorMsg.innerText = "Please provide at least one image.";
          return false;
        } else {
          errorMsg.innerText = "";
        }
        if (files.length > 8) {
          errorMsg.innerText = "You can only select up to 8 image files.";
          return false;
        }
        var imageLink = document.getElementById("image_link").value;
        var imageFile = document.getElementById("image_file").value;
        var errorMsg = document.getElementById("error-qr-img");

        if (imageLink.trim() === "" && imageFile.trim() === "") {
          errorMsg.innerText = "Please provide One image or QR-link.";
          return false;
        } else {
          errorMsg.innerText = "";
        }
        return true;
      }
    </script>
  </body>
</html>
