<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Processing</title>
    <link rel="stylesheet" href="../static/process.css" />
  </head>
  <body>
    <h1 style="text-transform: uppercase">Video Processing Page</h1>
    <form action="/process-video" method="post" enctype="multipart/form-data">
      <hr />
      <label for="video">Select a video</label>
      <input type="file" name="video" accept="video/*" required />
      <hr />
      <label for="link">QR code generation</label>
      <textarea
        class="qr"
        type="url"
        id="image_link"
        name="link"
        rows="5"
        required
      ></textarea>
      <hr />
      <div class="buttons">
        <button class="btn" type="submit">Run</button>
        <a href="/" class="btn">Home</a>
      </div>
    </form>
  </body>
</html>
