<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload Files</title>
    <link rel="stylesheet" href="../static/process.css" />
  </head>
  <body>
    <h1 style="text-transform: uppercase">Video Processing page</h1>
    <form action="/process-video" method="post" enctype="multipart/form-data">
      <label for="video">Select a video</label>
      <input type="file" name="video" accept="video/*" required /><br /><br />
      <label for="image">Select an image</label>
      <input type="file" name="image" accept="image/*" required /><br /><br />
      <div class="buttons">
        <button class="btn" type="submit">Run</button>
        <a href="/" class="btn">home</a>
      </div>
    </form>
  </body>
</html>
